@model List<Prenotazione>


@if (Model != null && Model.Count > 0)
{

<table id="tabellaPrenotazioni" class="table table-striped" >
    <thead>
        <tr>
                <th>Numero Stanza</th>
                <th>Tipo</th>
                <th>Cliente</th>
                <th>Data Check-In</th>
                <th>Data Check-Out</th>
                <th>Stato</th>
                <th>Created by</th>
                <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr >
                <td>@item.Camera.Numero</td>
                <td>@item.Camera.Tipo</td>
                <td>@item.Cliente.Email</td>
                <td>@item.DataInizio.ToShortDateString()</td>
                <td>@item.DataFine.ToShortDateString()</td>
                <td>@item.Stato</td>
                <td>@item.CreatedBy</td>
                <td>
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin") || User.IsInRole("Supervisor"))
                    {
                                <div>
                                <a class="btn btn-outline-success fw-bold" asp-action="CheckIn" asp-controller="Prenotazione" asp-route-prenotazioneId="@item.PrenotazioneId" onclick="return confirm('Sei sicuro di voler eseguire il checkin?');">CheckIn</a>
                                <a class="btn btn-outline-warning fw-bold" asp-action="EditPrenotazione" asp-controller="Prenotazione" asp-route-prenotazioneId="@item.PrenotazioneId">Modifica</a>
                                <a class="btn btn-outline-danger fw-bold" asp-action="CheckOut" asp-controller="Prenotazione" asp-route-prenotazioneId="@item.PrenotazioneId" onclick="return confirm('Sei sicuro di voler eseguire il checkout?');">CheckOut</a>
                                </div>
                    }
                </td>
            </tr>

        }


    </tbody>
</table>
}
else{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        Non ci sono prenotazioni attive per le stanze
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}